body {
  font-family: 'Inconsolata', 'PT Mono', 'Courier New', monospace;
}

#container {
	width: 100vw;
	height: 100vh;
  z-index: -999999;
}

h1 {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translateY(-50%);
}

h1:before {
  content: '>';
  padding-right: 10px;
}

h1:after {
  content: '_';
}

#command-history {
  position: absolute;
  right: 10px;
  bottom: 10px;
  list-style-type: none;
  color: grey;
}
